.vscode/settings.json
__pycache__/VisTools.cpython-37.pyc
__pycache__/mask_functions_pneumothorax.cpython-37.pyc
__pycache__/Models.cpython-37.pyc
__pycache__/Datagen.cpython-37.pyc
__pycache__/Losses.cpython-37.pyc
*.h5
__pycache__/ProcessMasks.cpython-37.pyc
__pycache__/HelperFunctions.cpython-37.pyc
*.png
MultiProcess_test.py
__pycache__/*
.ipynb_checkpoints/*
ResumeFullClassificationTrain.py
.vscode/launch.json
